alabaster==0.7.12
astroid==2.9.0
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.9.1
bandit==1.7.0
biothings-client==0.2.6
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.4
colorama==0.4.4
coverage==6.2
cryptography==3.4.7
cycler==0.10.0
docutils==0.17.1
gitdb==4.0.7
GitPython==3.1.18
idna==2.10
imagesize==1.2.0
importlib-metadata==4.0.1
importlib-resources==5.4.0
iniconfig==1.1.1
isort==5.8.0
jeepney==0.6.0
Jinja2==3.0.1
keyring==23.0.1
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
matplotlib==3.3.4
mccabe==0.6.1
mygene==3.2.2
mypy==0.941
mypy-extensions==0.4.3
numpy==1.19.5
packaging==20.8
pandas==1.1.5
pbr==5.6.0
Pillow==8.3.2
pkginfo==1.8.2
platformdirs==2.3.0
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pydot==1.4.2
Pygments==2.9.0
pylint==2.12.2
pyparsing==2.4.7
pytest==7.0.1
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4.1
readme-renderer==29.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
scipy==1.5.4
SecretStorage==3.3.1
six==1.15.0
smmap==4.0.0
snowballstemmer==2.1.0
Sphinx==4.3.2
sphinx-autoapi==1.8.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stevedore==3.4.0
toml==0.10.2
tomli==1.2.3
tqdm==4.63.0
twine==3.8.0
typed-ast==1.4.2
types-requests==2.25.2
typing-extensions==3.10.0.2
Unidecode==1.2.0
urllib3==1.26.6
webencodings==0.5.1
wrapt==1.12.1
zipp==3.4.1
