name: Build (python 3.11)

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v6
        -   name: Set up Python 3.11
            uses: actions/setup-python@v6
            with:
                python-version: "3.11"
                cache: "pip"
                cache-dependency-path: "**/pyproject.toml"

        # Install build dependencies
        -   name: Install build dependencies
            run: python -m pip install --upgrade pip wheel twine build

        # Run build pipeline
        -   name: Build package
            run: python -m build

        # Check package
        -   name: Check package
            run: twine check --strict dist/*.whl
