
name: Package testing

on:
    workflow_dispatch:
    # push:
    #     branches:
    #         - main

    # Run action when pull request is opened
    pull_request:
        types:  [opened, reopened, synchronize]


# Jobs
jobs:

    build:
        # Run on ubuntu latest
        runs-on: ubuntu-latest

        # Matrix testing
        strategy:
            matrix:
                # Check for all python versions >=3.6
                # python-version: [3.6, 3.7, 3.8, 3.9]
                python-version: [3.6]

        steps:
          - uses: actions/checkout@v2
          - name: Set up Python ${{ matrix.python-version }}
            uses: actions/setup-python@v2
            with:
                python-version: ${{ matrix.python-version }}

          # Install dependencies from freeze
          - name: Install dependencies
            run: |
                sudo apt-get install -y graphviz
                python -m pip install --upgrade pip
                pip install mypy pylint pytest coverage twine setuptools types-requests responses flit
                pip install requests scipy pydot pandas



          # Linting package
          - name: Lint
            run: |
                pylint ./keggtools
                pylint ./test/*.py


          # Install package from setup.py and static code analysis
          - name: Static code analysis
            run: |
                mypy ./test
                mypy ./keggtools


          # Run unittest on installed package
          - name: Unit testing with pytest
            run: |
                pytest ./test --show-capture=log



          # Build wheel and egg with flit backend
          - name: Build package
            run: |
                flit build --setup-py
                twine check --strict ./dist/*
                flit install


          # Test and build the docs for keggtools
          - name: test and build docs
            run: |
                pip install Sphinx sphinx-rtd-theme
                mypy ./docs/conf.py
                pylint ./docs/conf.py
                python -m sphinx -M doctest ./docs ./docs/_build
                python -m  sphinx -M coverage ./docs ./docs/_build
                python -m  sphinx -M html ./docs ./docs/_build

