name: Release (Python 3.11)

on:
    release:
        types: [published]
    workflow_dispatch:

permissions:
    contents: read

jobs:
    release:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v6
            -   name: Install uv
                uses: astral-sh/setup-uv@v7
                with:
                    enable-cache: true
                    python-version: "3.11"

            # Install build dependencies
            -   name: Install dependencies
                run: |
                    uv sync --locked --all-extras

            # Run build pipeline
            -   name: Build package
                run: uv build

            # Check package
            -   name: Check package
                run: uv run twine check --strict dist/*.whl


            # Publish package to pypi
            -   name: Publish package
                run: uv publish
                env:
                    UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
