
name: Testing package

on:
    # Option for trigger worflow manually
    workflow_dispatch:

    push:
        branches: [main]

    # Run action when pull request is opened
    pull_request:
        branches: [main]
        types:  [opened, reopened, synchronize]


concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true



# Jobs
jobs:

    test:
        runs-on: ${{ matrix.os }}

        # Matrix testing
        strategy:
            fail-fast: false
            matrix:
                # Check for all python versions >=3.11

                # For OS support of actions check out:
                # https://github.com/actions/runner-images/issues/10636
                include:
                    -   os: ubuntu-24.04
                        python: "3.11"
                    -   os: ubuntu-24.04
                        python: "3.12"
                    -   os: ubuntu-24.04
                        python: "3.13"
                    -   os: ubuntu-24.04
                        python: "3.14"
                    -   os: ubuntu-24.04
                        python: "3.14"
                        pip-flags: "--pre"
                        name: PRE-RELEASE DEPENDENCIES

        name: ${{ matrix.name }} Python ${{ matrix.python }}

        env:
            OS: ${{ matrix.os }}
            PYTHON: ${{ matrix.python }}

        steps:
            -   uses: actions/checkout@v6
            -   name: Install uv and set the Python version
                uses: astral-sh/setup-uv@v7
                with:
                    python-version: ${{ matrix.python }}
                    enable-cache: true

            # Install dependencies from freeze
            -   name: Install dependencies
                run: |
                    sudo apt-get install -y graphviz
                    uv sync --locked --all-extras --dev


            # Linting package
            -   name: Format and Linting
                run: |
                    uv run ruff check ./src/keggtools ./tests/*.py ./docs/*.py


            # Install package from setup.py and static code analysis
            -   name: Static code analysis
                run: |
                    uv run ty check --python-version=${{ matrix.python }} ./src/keggtools ./docs/*.py ./tests


            # Run unittest on installed package with coverage
            -   name: Unit testing with pytest
                run: |
                    uv run pytest --cov --junitxml=junit.xml -o junit_family=legacy


            # Upload to codecov
            -   name: Upload coverage reports to Codecov
                uses: codecov/codecov-action@v5
                with:
                    token: ${{ secrets.CODECOV_TOKEN }}
